<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
    </head>
<body>
	<header th:replace="~{plantillas/principal :: header}"></header>
	<div class="container  py-4">

		<div class="card bg-light">
			<div class="card-header">
				<h3 class="text-secondary" th:text="${titulo}"></h3>
			</div>
			<div class="card-body shadow-lg p-3">
				<h4 class="card-title">
				</h4>
				<form th:action="@{/academia/guardarestudiante}" th:object="${estudiante}" method="post">


					<div class="mb-3">
						<label class="form-label">Identificación</label> 
						<input type="text" th:field="*{identificacion}" class="form-control form-control-sm" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('identificacion')}" th:errors="*{identificacion}"></small>
					</div>

					<div class="mb-3">
						<label class="form-label">Apellidos</label> 
						<input type="text" th:field="*{apellidos}" class="form-control form-control-sm" /> 
						<small class="form-text text-danger" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></small>
					</div>

					<div class="mb-3">
						<label class="form-label">Nombres</label> 
						<input type="text" th:field="*{nombres}" class="form-control form-control-sm" /> 
						<small class="form-text text-danger" th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"></small>
					</div>
															
					<div class="mb-3">
						<label class="form-label">Semestre actual</label> 
						<input type="number" th:field="*{semestre_actual}" class="form-control form-control-sm" /> 
						<small class="form-text text-danger" th:if="${#fields.hasErrors('semestre_actual')}" th:errors="*{semestre_actual}"></small>
					</div>

                    <div class="mb-3">
						<label class="form-label">Tipo identificación</label>
						<select th:field="*{tipoIdentificacion}" class="form-control form-control-sm">
							<option value="">Seleccionar...</option>
							<option value="Cédula">Cédula</option>
							
						</select>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('tipoIdentificacion')}" th:errors="*{tipoIdentificacion}"></small>
					</div>

					<div>
						<input type="submit" th:value="${accion} + ' cliente'" class="btn btn-outline-secondary btn-sm" />
					</div>
					
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="~{plantillas/principal :: footer}"></footer>
</body>
</html>   